<div class="container">
  <div class="alert alert-dark capsule" role="alert">
    <h2 class="display-4 title">Documentos</h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Documentos</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cronograma de estudios</td>
        <td>
          <button class="btn btn-primary">
            <i class="fas fa-download"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>