<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4>Solicitar Tema</h4>
    <button class="btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()"><i
        class="fas fa-times"></i></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="save($event)">
      <h6 class="lead">Datos Sobre el/los Estudiantes</h6>
      <hr />
      <div class="row mb-2">
        <div class="col-6">
          <label for="carrera_id" class="form-label">Carrera</label>
          <select class="form-select" id="carrera_id" formControlName="carrera_id" (change)="onChange($event)"
            name="carrera_id">
            <option value="" selected disabled hidden>Seleccione su carrera</option>
            <option *ngFor="let carrera of carreras" value="{{carrera.id}}">
              {{carrera.carrera}}</option>
          </select>
          <div class="mt-2" *ngIf="form.get('carrera_id').errors && form.get('carrera_id').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('carrera_id').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
        <div class="col-6">
          <label for="tema_id" class="form-label">Tema</label>
          <div class="section-add" *ngIf="select">
            <select class="form-select" id="tema" formControlName="tema_id" *ngIf="temas" name="tema_id">
              <option value="" selected disabled hidden>Seleccione un tema</option>
              <option *ngFor="let tema of temas" value="{{tema.id}}">{{tema.tema}}</option>
            </select>
            <button class="btn btn-primary ml-1" (click)="changeOption(false)" type="button"><i
                class="fas fa-pencil-alt"></i></button>
          </div>
          <div class="section-add" *ngIf="!select">
            <input type="text" class="form-control" formControlName="tema_id" id="tema_id" name="tema_id"
              placeholder="Tema de su preferencia" />
            <button class="btn btn-success ml-1" (click)="changeOption(true)" type="button"><i
                class="fas fa-exchange-alt"></i></button>
          </div>
          <div class="mt-2" *ngIf="form.get('tema_id').errors && form.get('tema_id').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('tema_id').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <label for="estudiante" class="form-label">Estudiantes </label>
        <ng-select [(ngModel)]="selectedStudents" bindLabel="name" [ngModelOptions]="{standalone: true}"
          placeholder="Selecciona los estudiantes" [multiple]="true" [maxSelectedItems]="3">
          <ng-option *ngFor="let student of listStudents" [value]="student.id">{{student.nombre}} {{student.apellido}} -
            {{student.username}}
          </ng-option>
        </ng-select>
        <div class="form-text mt-1 text-right">(Max 3)</div>
      </div>
      <h6 class="lead mt-4">Datos Sobre el asesor</h6>
      <hr />
      <div class="row mb-2">
        <div class="col-6">
          <label for="nombre" class="form-label">Asesor</label>
          <input type="text" formControlName="nombre" class="form-control" name="nombre" id="nombre"
            placeholder="Nombre completo" />
          <div class="mt-2" *ngIf="form.get('nombre').errors && form.get('nombre').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('nombre').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
        <div class="col-6">
          <label for="telefono" class="form-label">Telefono</label>
          <input type="text" formControlName="telefono" class="form-control" name="telefono" id="telefono"
            placeholder="Telefono" />
          <div class="mt-2" *ngIf="form.get('telefono').errors && form.get('telefono').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('telefono').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-6">
          <label for="nivelAcademico" class="form-label">Nivel academico</label>
          <input type="text" class="form-control" formControlName="nivelAcademico" name="nivelAcademico"
            id="nivelAcademico" placeholder="Nivel academico" />
          <div class="mt-2" *ngIf="form.get('nivelAcademico').errors && form.get('nivelAcademico').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('nivelAcademico').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
        <div class="col-6">
          <label for="correo" class="form-label">Correo Electronico</label>
          <input type="email" class="form-control" formControlName="correo" name="correo" id="correo"
            placeholder="Correo electronico" />
          <div class="mt-2" *ngIf="form.get('correo').errors && form.get('correo').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('correo').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <div>
          <label for="institucionLabora" class="form-label">Institucion donde labora</label>
          <input type="text" class="form-control" formControlName="institucionLabora" name="institucionLabora"
            id="institucionLabora" placeholder="Institucion" />
          <div class="mt-2" *ngIf="form.get('institucionLabora').errors && form.get('institucionLabora').touched">
            <p class="alert alert-danger" role="alert" *ngIf="form.get('institucionLabora').hasError('required')">
              Este campo es requerido
            </p>
          </div>
        </div>
      </div>
      <h6 class="lead mt-4">Datos del proyecto</h6>
      <hr />
      <div class="mb-1">
        <label for="datosProyecto" class="form-label">Escriba sobre el proyecto</label>
        <textarea class="form-control" formControlName="datosProyecto" id="datosProyecto" name="datosProyecto"
          rows="3"></textarea>
        <div class="mt-2" *ngIf="form.get('datosProyecto').errors && form.get('datosProyecto').touched">
          <p class="alert alert-danger" role="alert" *ngIf="form.get('datosProyecto').hasError('required')">
            Este campo es requerido
          </p>
        </div>
      </div>
      <div class="mb-3">
        <label for="linea_investigacion" class="form-label">Linea de Investigacion</label>
        <select class="form-select" formControlName="linea_investigacion" id="linea_investigacion"
          name="linea_investigacion">
          <option value="" selected disabled hidden>Elige una linea de investigacion</option>
          <option *ngFor="let linea of lineas" value="{{linea.id}}">{{linea.linea}}</option>
        </select>
        <div class="mt-2" *ngIf="form.get('linea_investigacion').errors && form.get('linea_investigacion').touched">
          <p class="alert alert-danger" role="alert" *ngIf="form.get('linea_investigacion').hasError('required')">
            Este campo es requerido
          </p>
        </div>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <!-- [disabled]="form.invalid" -->
        <button class="btn btn-success" type="submit">Guardar<i class="fas fa-save"></i></button>
        <button class="btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()">Cancelar <i
            class="fas fa-times"></i></button>
      </div>
    </form>
  </div>
</ng-template>

<button class="btn btn-primary" (click)="modal.open(contenido, { size: 'lg' })">Solicitar tema<i
    class="fas fa-plus"></i></button>