<div class="modal-header">
  <h4>{{ tema?.tema }}</h4>
  <button class="btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()"><i
      class="fas fa-times"></i></button>
</div>
<div class="modal-body">
  <h6 class="lead">Informacion del tema</h6>
  <hr />
  <div class="row">
    <div class="col-6">
      <div class="m-1">
        <p class="name">Carrera: <span class="text-secondary">{{tema?.carrera_id?.carrera}}</span></p>
        <p class="name">Linea de investigacion: <span class="text-secondary">{{tema?.linea_investigacion?.linea}}</span>
        </p>
      </div>
    </div>
    <div class="col-6">
      <p class="name">Alcance: <span class="text-secondary">{{tema?.alcance}}</span></p>
      <p class="name">Profesor: <span class="text-secondary">{{tema?.profesor.nombre}}
          {{tema?.profesor.apellido}}</span></p>
    </div>
  </div>
  <div class="p-2 border border-ligth">
    <h6 class="name">Problematica a resolver:</h6>
    <p class="text-center text-secondary">{{tema?.problematica}}</p>
  </div>
</div>