.name {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;

  & > span {
    font-size: 15px;
    font-weight: 300;
  }
}

.alcance {
  font-size: 25px;
  text-transform: capitalize;
  text-align: center;
}
