<div class="container">
  <div class="alert alert-dark capsule" role="alert">
    <h2 class="display-4 title">Dashboard</h2>
  </div>
  <p class="text-description">Actividades</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tema</th>
        <th scope="col">Estudiantes</th>
        <th scope="col">Fecha</th>
        <th scope="col">Actividad</th>
        <th scope="col">Estado</th>
        <th scope="col">Carrera</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody *ngIf="requests.length == 0">
      <td colspan="8" class="text-center">No hay registros...</td>
    </tbody>
    <tbody>
      <tr *ngFor="let item of requests; index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{item.tema_id.tema}}</td>
        <td>
          <p *ngFor="let usuario of item.usuario_id">{{usuario.nombre}} {{usuario.apellido}}</p>
        </td>
        <td ng-non-bindable>{{item.created_at | date:'MM/dd/yyyy'}}</td>
        <td>Solicitud de tema</td>
        <td>Pediente de aprobacion</td>
        <td>{{item.carrera_id.codigoCarrera}}</td>
        <td>
          <button class="btn btn-primary" type="button" (click)="viewModal(item.id)">
            <i class="far fa-eye"></i>
          </button>
          <button class="btn btn-success mx-3" type="button" (click)="acceptRequest(item.id, i)">
            <i class="fas fa-check"></i>
          </button>
          <button class="btn btn-danger" type="button" (click)="cancelRequest(item.id, i)">
            <i class="fas fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>