.text-description {
  font-size: 25px;
  margin-left: 5px;
  color: #202020;
}

.title {
  font-size: 40px;
}

.capsule {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.table {
  background-color: #fff;
}
