<div class="container">
  <div class="alert alert-dark capsule" role="alert">
    <h2 class="display-4 title">Dashboard</h2>
  </div>
  <p class="text-description">Actividades</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tema</th>
        <th scope="col">Actividad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Usuario</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Diseño de una red 5g</td>
        <td>Necesita correcciones</td>
        <td>20/6/2021</td>
        <td>estudiante</td>
        <td>Pediente de aprobacion</td>
      </tr>
    </tbody>
  </table>
</div>