<div class="container">
  <div class="alert alert-dark capsule" role="alert">
    <h2 class="display-4 title">Dashboard</h2>
  </div>
  <p class="text-description">Actividades</p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tema</th>
        <th scope="col">Observacion</th>
        <th scope="col">Fecha</th>
        <th scope="col">Usuario</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody *ngIf="historials.length == 0">
      <td colspan="8" class="text-center">No hay registros...</td>
    </tbody>
    <tbody>
      <tr *ngFor="let historial of historials; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{historial.solicitudes_tema.tema_id.tema}}</td>
        <td>{{historial.observacion}}</td>
        <td>{{historial.created_at | date:"dd/MM/yy"}}</td>
        <td>{{names[i]}}</td>
        <td>{{historial.estatus.nombre}}</td>
      </tr>
    </tbody>
  </table>
</div>