<ng-template #contenido let-modal>
    <div class="modal-header">
      <h4>Agregar un usuario</h4>
      <button class="btn btn-danger" aria-label="close" type="button" (click)="modal.dismiss()"><i
          class="fas fa-times"></i></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form" (ngSubmit)="save($event)">
        <div class="row">
          <div class="col-6">
            <label for="nombre" class="form-label">Nombre del usuario</label>
              <input  type="text" class="form-control" name="nombre" placeholder="Nombre" formControlName="nombre">
            <div class="mt-2" *ngIf="form.get('nombre').errors && form.get('nombre').touched">
              <p class="alert alert-danger" role="alert" *ngIf="form.get('nombre').hasError('required')">
                Este campo es requerido
              </p>
            </div>
          </div>
          <div class="col-6">
            <label for="apellido" class="form-label">Apellido del usuario</label>
            <input type="text" class="form-control" formControlName="apellido" name="apellido" id="apellido"
              placeholder="Apellido del usaurio" />
            <div class="mt-2" *ngIf="form.get('apellido').errors && form.get('apellido').touched">
              <p class="alert alert-danger" role="alert" *ngIf="form.get('apellido').hasError('required')">
                Este campo es requerido
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="username" class="form-label">Matricula</label>
              <input  type="text" class="form-control" name="username" placeholder="Matricula" formControlName="username">
            <div class="mt-2" *ngIf="form.get('username').errors && form.get('username').touched">
              <p class="alert alert-danger" role="alert" *ngIf="form.get('username').hasError('required')">
                Este campo es requerido
              </p>
            </div>
          </div>
          <div class="col-6">
            <label for="password" class="form-label">Contraseña</label>
            <input type="text" class="form-control" formControlName="password" name="password" id="password"
              placeholder="Contraseña" />
            <div class="mt-2" *ngIf="form.get('password').errors && form.get('password').touched">
              <p class="alert alert-danger" role="alert" *ngIf="form.get('password').hasError('required')">
                Este campo es requerido
              </p>
            </div>
          </div>
        </div>
        <div class="row my-2">
            <div class="col-6">
                <label for="email" class="form-label">Correo electronico</label>
                <input type="text" class="form-control" formControlName="email" name="email" id="email"
                  placeholder="Correo electronico" />
                <div class="mt-2" *ngIf="form.get('email').errors && form.get('email').touched">
                  <p class="alert alert-danger" role="alert" *ngIf="form.get('email').hasError('required')">
                    Este campo es requerido
                  </p>
                </div>
            </div>
            <div class="col-6">
                <label for="carrera_id" class="form-label">Carrera</label>
                <select class="form-select" id="carrera_id" formControlName="carrera_id"
                name="carrera_id">
                    <option value="" selected disabled hidden>Seleccione su carrera</option>
                    <option *ngFor="let carrera of carreras" value="{{carrera.id}}">
                    {{carrera.carrera}}</option>
                </select>
                <div class="mt-2" *ngIf="form.get('carrera_id').errors && form.get('carrera_id').touched">
                    <p class="alert alert-danger" role="alert" *ngIf="form.get('carrera_id').hasError('required')">
                        Este campo es requerido
                    </p>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-success" type="submit">Guardar <i class="fas fa-save"></i></button>
        </div>
      </form>
    </div>
  </ng-template>
  
  <button class="btn btn-primary" (click)="modal.open(contenido, { size: 'lg' })">Agregar usuario    <i
      class="fas fa-plus"></i></button>