<div class="container">
  <div class="alert alert-dark capsule" role="alert">
    <h2 class="display-4 title">Usuarios</h2>
    <app-user-add></app-user-add>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Matricula</th>
        <th scope="col">Correo institucional</th>
        <th scope="col">Carrera</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.nombre}} {{user.apellido}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.carrera_id ? user.carrera_id.carrera : "No detectado"}}</td>
        <td>
          <button class="btn btn-primary" (click)="viewModalUser(user.id)">
            <i class="far fa-eye"></i>
          </button>
          <button (click)="editarUsuario(user.id)" class="btn btn-success mx-2">
            <i class="fas fa-edit"></i>
          </button>
          <button (click)="deleteUsuario(user.id)" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>