<div class="container">
  <div class="alert alert-dark capsule" role="alert">
    <h2 class="display-4 title">Solicitudes</h2>
    <app-add-request></app-add-request>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tema</th>
        <th scope="col">Carrera</th>
        <th scope="col">Estudiantes</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estatus</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let solicitud of solicitudes; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{solicitud.tema_id.tema}}</td>
        <td>{{solicitud.carrera_id.carrera}}</td>
        <td>{{names[i]}}</td>
        <td>{{solicitud.created_at | date:"dd/MM/yy"}}</td>
        <td>Aprobado</td>
        <td>
          <button class="btn btn-primary" (click)="viewModal(solicitud.id)">
            <i class="far fa-eye"></i>
          </button>
          <button class="btn btn-dark ml-1" (click)="editModal(solicitud.id)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-success mx-1">
            <i class="fas fa-download"></i>
          </button>
          <button (click)="delete(solicitud.id, solicitud.asesor_id.id)" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>